<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.pumpkin.mapper.SCartMapper">
    <select id="deleteByKey" resultType="com.database.pumpkin.domain.entity.SCart">
        Delete  from s_cart
        <where>
            customer_id = #{customerId} and m_name=#{mName} and m_bn=#{mBn} and create_time=#{createTime}
        </where>
    </select>

    <select id="updateCart" resultType="com.database.pumpkin.domain.entity.SCart">
        update s_cart
            set quantity=${quantity}
        <where>
            customer_id = #{customerId}  and m_name=#{mName} and m_bn=#{mBn}
        </where>
    </select>

    <select id="selectByParams" resultType="com.database.pumpkin.domain.entity.SCart">
        select * from s_cart
        <where>
            customer_id=#{customerId}
        </where>
    </select>
</mapper>
