<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.pumpkin.mapper.SSalesMapper">

    <select id="updateSales" resultType="com.database.pumpkin.domain.entity.SSales">
        update s_sales
        <set>
            price=#{price},
            discount=#{discount},
            description=#{description}

        </set>

        <where>
            merchandise_id=#{merchandiseId}
        </where>
    </select>

    <select id="findByDetailById" resultType="com.database.pumpkin.domain.entity.SSales">
        select *
        from s_sales
        <where>
            merchandise_id=#{merchandiseId}
        </where>
    </select>
</mapper>
