<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.pumpkin.mapper.SOrderMapper">
    <select id="selectByCustomerId" resultType="com.database.pumpkin.domain.entity.SOrder">
        select *
        from
        s_order
        <where>
            customer_id = #{customerId}
        </where>
    </select>

    <select id="selectByOrderId" resultType="com.database.pumpkin.domain.entity.SOrder">
        select *
        from
        s_order
        <where>
            order_id = #{orderId}
        </where>
    </select>
</mapper>
