<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.pumpkin.mapper.PCustomerMapper">




    <update id="updateUserByUid">
        update p_user p1,p_customer p2
        <set>
            p1.passWord=#{passWord},p1.email=#{email},p1.nick_name=#{nickName},p2.birthday=#{birthday},p2.country=#{country},p2.balance=#{balance},p2.city=#{city},p2.zipcode=#{zipcode},p2.street=#{street},p2.state=#{state},p2.url=#{url},p2.gender=#{gender}
        </set>
        where uid = #{uid} and p1.uid=p2.userId
  </update>
</mapper>
